 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     font-family: Arial, sans-serif;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     background-color: #f1f1ff;
 }

 .card-container {
     display: flex;
     justify-content: center;
     gap: 20px;
     flex-wrap: wrap;
     padding: 20px;
 }

 .card {
     background-color: #fff;
     border-radius: 10px;
     box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
     overflow: hidden;
     text-align: center;
     transition: transform 0.3s ease, box-shadow 0.3s ease;
     width: 250px;
     position: relative;
 }

 .card:hover {
     transform: translateY(-10px);
     box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
 }

 .card img {
     width: 100%;
     height: 300px;
     object-fit: cover;
     transition: transform 0.3s ease-in-out;
     /* Smooth zoom effect */
 }

 .card:hover img {
     transform: scale(1.1);
     /* Zoom-in effect */
 }

 .card h1 {
     padding: 15px;
     font-size: 24px;
     color: #333;
 }

 @media (max-width: 768px) {
     .card {
         width: 100%;
     }

     .card-container {
         flex-direction: column;
     }
 }